body{
  margin:0;
  padding:0;
  font-family: montserrat;
  background:linear-gradient(150deg, #6C3483, #58D68D);
  height: 100vh;
}

.Logo{
  display: flex;
  margin-bottom: auto; 
  border-radius: 10px;  
  height: 125px;    
  width: 320px;
}
#form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
  margin: auto;
}

.form h1{
  text-align: center;
  padding:0 0 20px 0;
  border-bottom: 1px solid silver;
}

#form {
  padding: 0 40px;
  box-sizing: border-box;
}

#form .grupo{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin:30px 0;
}

.grupo input{
  width: 100%;
  padding: 0 5 px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.grupo label{
  position: absolute;
  top:50%;
  left: 5px;
 color: #adadad;
 transform: translateY(-50%);
 font-size: 16px;
 pointer-events: none;
}
.grupo span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #6C3483;
  transition: .5s;
}

.grupo input :focus label,
.grupo input :focus label{
  top: -5px;
  color: #6C3483;
}
  
.grupo input :focus span ::before,
.grupo input :focus span::before{ 
  width: 100%;
}

.contraseña{
  margin: -5px 0 20px 5px;
  color: blue;
  cursor: pointer;

}

.contraseña:hover{
  text-decoration: underline;
}

input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #6C3483;
  border-radius: 25px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover{
  border-color: purple;
  transition: .5s;
}

.Login{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: black;
}

.Login a{
  color: blue;
  text-decoration: none;
}
.Login a:hover{
  text-decoration: underline;
}

 